# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database files
*.sqlite3
*.db
data/raw/*
!data/raw/.gitkeep

# Docs
docs/dev/*
!docs/dev/.gitkeep

# Testing
.pytest_cache/
htmlcov/
.coverage

# Internal Dev Docs
implementation_plan.md
walkthrough.md
task.md
add_generic_tools.py
